.game_home{
    width: 1100px;
    background-color: black;
}
body {
  cursor: url('.//assets/kunai_pointer.png'), auto;
}
/* Elementos clicáveis recebem o cursor personalizado */
a,
button,
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
select,
textarea,
.click-cursor,
[role="button"],
[tabindex]:not([tabindex="-1"])
{
  cursor: url('./assets/kunai_click.png'), pointer !important;
}